sqlalchemy[asyncio]
pydantic-settings
pytest-playwright
python-multipart
passlib[bcrypt]
pydantic[email]
fastapi-limiter
beautifulsoup4
python-jose
pre-commit
playwright
hypercorn
pydantic
aioredis
alembic
fastapi
asyncpg
black
httpx
redis
ruff
